body{
    font-family:Helvetica;
}
#baner{
    background-color: #AF4448;
    color:white;
    text-align: center;
    height: 20px;
    
}
#lewy{
    background-color: #FFA4A2;
    height: 650px;
    width:50%;
    float: left;
    clear: both;
}
#prawy{
    background-color: #FFA4A2;
    height: 650px;
    width:50%;
    float: left;
}
#stopka{
    background-color: #AF4448;
    color:white;
    text-align: center;
    height: 20px;
    clear: both;
}
h4{
    margin:0px;
}
input[type="submit"]{
    background-color: #AF4448;
    color: white;
    padding: 5px;
    margin: 10px;
}