#baner{
	background-color:#E8C84E;
	height: 50px;
	font-size: 130%;
	text-align: center;
	}
	#lewy{
	background-color: #FFB544;
	height: 500px;
	width:40%;
	font-size: 130%;
	float:left;
	}
	#srodkowy{
	height: 500px;
	width: 30%;
	text-align: center;
	float:left;
	}
	#prawy{
		background-color: #FFB544;
		height: 500px;
		width:30%;
		font-size: 130%;
		text-align: center;
		float: left;
	}
	#stopka{
	clear: both;
	background-color:#E8C84E;
	height: 50px;
	text-align: right;
	padding: 10px;
	
	}
	h3, img{
		margin-top:50px;
	}
	form{
		margin-bottom:100px;
	}
	ul{
		padding-top:30px;
		background-color: #FFAA00;
	}