@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto+Condensed:wght@300&display=swap');
body
{
    font-family: 'Poppins';
    background-color: white;
}
.nagłówek
{
    background-color: rgba(84,85,84,255);
    display: flex;
    width:100%;
    height: 160px;
    border-bottom: 2px white solid;
    justify-content:center;
    align-items: center;
    
}
.kontener
{
    
    background-image: url("tlo.png");
    color: white;
    background-color: rgba(84,85,84,255);
    margin-top: -25px;
    background-attachment:fixed;
    background-size: cover;
    padding-bottom: 20px;
    height:750px ;
}
.menu
{

    display: flex;
    width: 100%;
    height: 50px;
    background-color: white;
    justify-content:space-around;
    align-items: center;
    border-bottom: 2px white solid;
}
.item
{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
    font-size:150%;
    color: rgba(84,85,84,255);
    font-family: 'Roboto Condensed';
}
.główny
{
    background-color: none;
    background-image: none;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}
.tekst
{
    height:200px;
    width: 200px;
}
.blok_border
{
    margin-top: 150px;
    width: 30%;
    height: 100%;
    border:2px solid white;
    
    display: flex;
    justify-content: center;
    
}
.galeria
{
    margin:0 auto;
    width:40%;
    align-items: center;
    margin-top: -25px;
    padding-top: 25px;
    background-color: white;
    color: rgba(84,85,84,255);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border:2px solid rgba(84,85,84,255);
    margin-bottom: -20px;
    
    
}

.phot
{
    margin-top: 10px;
    margin-bottom: 100px;
    margin-left: 25px;
    margin-right: 30px;
    width: 300px;
    height: 169px;
    border : 3px solid black;
}
.kont2 
{
    margin-bottom: 10px;
    margin-top:10px;
    background-color:rgba(84,85,84,255);
    width: 100%;
    height: auto;
    color: white;
    height: 52px;
    margin-top: 15px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.p
{   
    font-weight: 800;
    color: white;
    display: block;
    position: relative;
    width: 200px;
    margin-bottom: 25px;
}
.przycisk1
{
    margin-top: -22px;
    background-color: white;
    color:black;
}
.tekst
{
    margin:0 auto;
    
    color: white;
    width: 50%;
    height: auto;
    display: flex;
    justify-content:space-around;
    padding-bottom: 100px;
    margin-top: 10px;
}
.bloczki
{ 
    
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    top:50px;
    text-align: center;
    bottom:100px;
    background-color: rgba(84,85,84,255);
    color:white;
    width: 200px;
    height: 500px;
}



















h2
{
    padding-top: 30px;
    font-size: 30px;
    text-align: center;
    
}
.hh
{
   padding-top: 0px; 
}




a 
{
    font-size:80%;
    background-color: rgba(84,85,84,255);
    border-radius: 90px 90px 90px 90px;
    border:none;
    width: 150px;
    height:30px;
    text-decoration: none;
    color: white;
    text-align: center;
    padding-top:10px;   
}
.phot:hover
{   
    animation-duration: 1s;
    animation: galeria 1s ;
    transform: scale(1.1);
}
.item:hover
{
    animation: kolor 0.5s;
    background-color: rgba(84,85,84,255);
    color: rgba(254,254,255,255);
}
.p:hover
{
    animation: kolor2 0.5s;
    transform: scale(1.05);
    color:white; 
}
h2:hover
{

    animation: kolor2 1s;
    transform: scale(1.05);
}


a:visited
{
    font-size:80%;
    background-color: black;
    border-radius: 90px 90px 90px 90px;
    border:none;
    width: 150px;
    height:30px;
    text-decoration: none;
    color: white;
    text-align: center;
    padding-top:10px;    
}
a:hover
{
    background-color: darkgray;
    color:white;
}
a:active
{
    border:2px solid black;
    background-color: white;
    color:black;
}

.przycisk1:active
{
    background-color: black;
    color: white;
    border:2px solid white;
}
@keyframes kolor
{
    from
    {
        background-color: rgba(254,254,255,255);
        color: rgba(84,85,84,255);
    }
    to
    {
        color: rgba(254,254,255,255);
    }
}
@keyframes kolor2 
{
    from
    {
        color:white;
        transform: scale(1);
    }
    to
    {
        transform: scale(1.05);
    }
}
@keyframes galeria 
{
    from
    {
        transform: scale(1);
    }
    to
    {
        transform: scale(1.1);
    }
}
.przycisk
{
    margin:0 auto;
    width:40%;
    display: flex;
    justify-content: center;
}